header.main-header {
    background-color: rgba(0, 0, 0, 0.2); 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 110px;
    z-index: 2;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
#logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
  
#title-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
  
#title-line1,
#title-line2 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#logo-container,
#title-container,
nav li a {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}
  
nav li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}
  
nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 15px;
    font-weight: bold;

  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
nav a:hover {
    color: blue;
}

body{
    font-family: "Arial", sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {  display: flex;
    flex-direction: column; 
}

.slider {
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}
.slider .slides {
    height: 100%; 
}
  
.slides {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative; 
    transition: transform 0.5s ease-in-out;  
}
  
.slide {
    flex: 0 0 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}
  
.slide-img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    transition: transform 0.5s ease-in-out;
}
  
.slide.active {
    opacity: 1; 
    transform: translateX(0); 
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
  
  
.slide:not(.active) {
    opacity: 0; 
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; 
  }


.box-container {
    flex: 1;
    background-color: #022f5e;
    display: flex;
    margin: 10px;
    height: 100%;
    border: 1px solid #ddd;  
    justify-content: space-between; 
}

@media screen and (max-width: 960px) {
    .box-container {
      margin-top: 300px; /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .box-container {
      margin-top: 200px; /* Adjust for even smaller screens */
    }
}



.box-content{
    text-align: center;
    color: #fcf9f9;
    margin-top: 50px;
    align-items: left;
    margin-left: 80px;
}
.box-content h1 {
    font-family: "Sofia", sans-serif;
    font-size: 60px;
}

.poster-slider {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 490px; 
  }
  
.poster {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    transition: transform 0.5s ease-in-out;
}
  
.poster.active {
    opacity: 1; 
    z-index: 1;
}
  
.poster:not(.active) {
    opacity: 0; 
    z-index: 0; 
    transform: translateX(-100%); 
}
  
.poster img {
    width: 100%; 
    height: auto;
}
  
.square-box {
    background-color: white;
    width: 500px;
    height: 630px; 
    margin: 100px;
    margin-top: 50px;
    border: 1px solid #ddd;
  }

.countdown-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 0px; 
  }

.countdown-container span {
    background-color: rgb(229, 238, 239); 
    width: 85px; 
    height: 70px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 10px; 
    border: 1px solid rgb(152, 147, 147); 
    color: black;
    font-size: 24px; 
}
.countdown-container span span {  
    line-height: 40px; 
}

.countdown-container span:after {
    content: attr(data-label); 
    flex-grow: 1; 
    font-size: 16px; 
    color: black;   
 }

.hotel-booking {
    margin-top: 10px; 
    margin-left: 120px;
}

.book-now-button {
    background-color: #007bff; 
    color: white; 
    margin-top: 50px;
    padding: 10px 85px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    text-decoration: none; 
    cursor: pointer; 
  }
  
.book-now-button:hover { 
    background-color: #97bee7; 
  }

.footer {
    background-color: #022f5e;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: 0px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 5px; 
    align-items: start; 
    margin: 0 25px; 
    margin-top: 10px;
    
}
.address,.contact-info,.service-times {
    margin-left: 15px;
}

.address p {
    margin: 0;
    font-size: small;
    text-align: left;
}

.contact-info {
    text-align: center;
}

.contact-info p {
    margin: 0;
    font-size: small;
    text-align: left;
}

.service-times {
    text-align: left;
}

.service-times p {
    margin: 0;
    font-size: small;
    text-align: left;
}

.social-media {
    margin-left: auto;
    padding: 10px;
}
.social-media a {
    margin-left: 15px;
}

.copyright {
    display: flex;
    margin-bottom: 0px;
}
.copyright p{
    margin-left: 385px;
    font-size: 14px; 
}

.copyright a {
    background-color:green;
    color: white; 
    font-size: 12px; 
    text-decoration: none;
    border: none;
    padding: 0px;
    margin: 0px;
    margin-left: 407px;
    margin-top: 30px;
}
.copyright a:hover { 
    background-color: #97bee7; 
  }

.fa {
    display: inline-flex; /* Enable vertical and horizontal centering */
    justify-content: center; /* Center icon horizontally */
    align-items: center; /* Center icon vertically */
    width: 22px; /* Adjust width for the circle */
    height: 22px; /* Adjust height for the circle */
    border-radius: 50%; /* Create a perfect circle */
    padding: 0; /* Remove padding to fit within the circle */
    font-size: 18px; /* Adjust font size for better visibility */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
